<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
</head>
<body>

<h2>Add New Book</h2>
<div th:replace="fragments/header :: body"></div>
<form th:action="@{/saveBook}" th:object="${book}" method="post">

    <label>Title:</label>
    <input type="text" th:field="*{title}" />
    <br><br>

    <label>Author:</label>
    <input type="text" th:field="*{author}" />
    <br><br>

    <label>Price:</label>
    <input type="number" step="0.01" th:field="*{price}" />
    <br><br>

    <button type="submit">Save</button>

</form>

<br>
<a th:href="@{/}">Back to Book List</a>

</body>
</html>